*{padding: 0em; margin: 0em;}

.main {
    width: 100%;
    height: 100vh;
    background: url("images/agn44.jpg");
    background-size: cover;
}

/* .main:before {
    content: "";
    width: 520px;
    height: 550px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../../profile.jpg");
    background-size: 100% 100%;
    
} */

nav {
    width: 100%;
    height: 100px;
    display: flex;
    background: linear-gradient(50deg, rgb(0, 119, 255), rgb(219, 231, 230),rgb(68, 235, 184) );
}

.logo{
    width: 100%;
    height: 50%;
}

.logo h1 {
    line-height: 100px;
    padding-left: 50px;
    color: white;
}

.menu {
        width: 60%;
        height: 100px;
}

.menu ul {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.menu ul li input {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(65deg, #09e9c7, #0e0c7c);
    border-radius: 4px;
    padding: 12px;
}

.menu ul li input:hover {
    background: linear-gradient(65deg, #0e0c7c, #09e9c7);
}

/* 
section{
    display: flex;
} */

.center h1 {
    font-size: 40px;
    font-weight: bold;
    height: 20px;
    color: black;
    text-align: center;
    margin-top: 70px;
    padding: 40px;
}

.center p{
    text-align: center;
    padding: 50px;
    font-size: 20px;
    color: rgba(105, 105, 105, 0.842);
    margin-left: 15%;
    margin-right: 15%;
}

.social_network {
    width: 100px;
    height: auto;
    position: absolute;
    right: 0;
    top: 40%;
}

.fa_icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background: linear-gradient(to bottom, #615cfd 0%, #d465ef 100%); */
    background: linear-gradient(to bottom,  #09e9c7 0%, #4441d6 100%);
    display: flex;
    justify-content: center;
    margin: 10px;   
}

.fa_icons:hover {
    background: linear-gradient(to bottom, #4441d6 0%, #09e9c7 100%);
}

.goo {
    padding: 14px;
    color: white;
}

/* .fa_icons:nth-child(even){
    margin: 18px 0;
} */

/* ***************************************RESPONSIVE HOME*************************************** */

 @media screen and (min-width: 315px) and (max-width: 400px){

    .menu {
        width: 80%;
        height: 100px;
        margin-right: 30px;
    }
    .menu ul li input {
        font-size: 9px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background: linear-gradient(65deg, #09e9c7, #0e0c7c);
        border-radius: 50px;
        padding: 5px;
    }
    
    .logo h1{
        line-height: 30px;
        padding-left: 10px;
        color: white;
        width: 30px;
        font-size: 18px;
    }


    .center h1 {
        font-size: 15px;
        font-weight: bold;
        height: 15px;
        color: black;
        text-align: center;
        margin-top: 15px;
        padding: 0px;
    }

    .center p{
        font-size: 18px;
    }

    .social_network {
        width: 70px;
        height: auto;
        position: absolute;
        right: -15px;
        top: 35%;
    }

    .fa_icons{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: linear-gradient(to bottom,  #09e9c7 0%, #4441d6 100%);
        display: flex;
        justify-content: center;
        margin: 10px;   
    }

    .goo {
        padding: 10px;
        color: white;
    }


 }





@media screen and (max-width: 474px) {
    .main{
        width: 100%;
        height: 100vh;
        display: flex;
        background-size: cover;
    }
    .logo{
        width: 100%;
        height: 50%;
    }
    
    .logo h1 {
        line-height: 50px;
        padding-left: 10px;
        color: white;
    }
    .menu {
        width: 80%;
        height: 100px;
        margin-right: 30px;
}
    .menu ul li input {
        font-size: 9px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background: linear-gradient(65deg, #09e9c7, #0e0c7c);
        border-radius: 50px;
        padding: 5px;
    }

    .center h1 {
        font-size: 30px;
        font-weight: bold;
        height: 20px;
        color: black;
        text-align: center;
        margin-top: 30px;
        padding: 40px;
    }
    .social_network {
        width: 100px;
        height: auto;
        position: absolute;
        right: 0px;
        top: 35%;
    }
    .imageform {
        width: 100%;
    }

}


@media screen and (min-width: 480px) and (max-width: 574px) {
    .main{
        width: 100%;
        height: 100vh;
        display: flex;
        background-size: cover;
    }
    .logo{
        width: 100%;
        height: 50%;
    }
    
    .logo h1 {
        line-height: 100px;
        padding-left: 15px;
        color: white;
    }
    .menu {
        width: 80%;
        height: 100px;
        margin-right: 20px;
}
    .menu ul li input {
        font-size: 10px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background: linear-gradient(65deg, #09e9c7, #0e0c7c);
        border-radius: 20px;
        padding: 8px;
    }

    .center h1 {
        font-size: 40px;
        font-weight: bold;
        height: 20px;
        color: black;
        text-align: center;
        margin-top: 30px;
        padding: 40px;
    }
    .social_network {
        width: 100px;
        height: auto;
        position: absolute;
        right: 0px;
        top: 35%;
    }
    .imageform {
        width: 100%;
    }

}

@media screen and (min-width: 575px) and (max-width: 708px) {
    .main{
        width: 100%;
        height: 100vh;
        display: flex;
        background-size: cover;
    }
    .logo{
        width: 100%;
        height: 50%;
    }
    
    .logo h1 {
        line-height: 100px;
        padding-left: 25px;
        color: white;
    }
    .menu {
        width: 80%;
        height: 100px;
        margin-right: 22px;
}
    .menu ul li input {
        font-size: 12px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        background: linear-gradient(65deg, #09e9c7, #0e0c7c);
        border-radius: 20px;
        padding: 10px;
    }

    .center h1 {
        font-size: 40px;
        font-weight: bold;
        height: 20px;
        color: black;
        text-align: center;
        margin-top: 30px;
        padding: 50px;
    }
    .social_network {
        width: 100px;
        height: auto;
        position: absolute;
        right: 0px;
        top: 35%;
    }
    

}



/* //////////////////////////////////////////ABOUT US PAGE////////////////////////////////////////////////// */
.about-us{
    height: 150px;
    width: 100%;
    padding: 80px 0px 50px;
    background: linear-gradient(to bottom, pink 20%,rgb(252, 251, 220) 80%);
}

.about-us h1{
    margin: 5px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.about-us p{
    /* margin: 0px 30% 30px 30%; */
    margin: 10px;
    font-size: 21px;
    color: rgb(121, 110, 110);
    justify-content: center;
    text-align: center;
}




/* ////////////////OUR AMAZING TEAM////////////////////// */
.team{
    margin-top: 60px;
}

.team h1{
    /* margin: 35px 31%; */
    margin: 35px;
    font-size: 50px;
    text-align: center;
}

.team p{
    margin: 20px;
    font-size: 20px;
    color: rgb(121, 110, 110);
    justify-content: center;
    text-align: center;
}

.teamsetting{
    margin-left: 13%;
    margin-right: 13%;
}

.fig1 {
    text-align: center;
    background: linear-gradient(to bottom, #07f8d4,white);
}
.fig2 {
    text-align: center;
    background: linear-gradient(to bottom,#605de4, white);
}
.fig3 {
    text-align: center;
    background: linear-gradient(to bottom, #07f8d4,white);
}

.figure img{
    margin-top: 20px;
    border-radius: 50%;
}

.figure h4{
    font-size: 30px;
}


/* ////////////////////////////////////////PORTFOLIO PAGE/////////////////////////////////////////////// */

.portfolio {
    height: 1600px;
    width: 100%;
    padding: 100px 0px 50px;
}
.portfolio h1{
    margin: 30px;
    font-size: 60px;
    font-weight: bold;
}

.portfolio p{
    margin: 35px;
    font-size: 20px;
}

.card{
    margin: 20px;
}

/* .card p{
    margin: 10px;
} */


/* //////////////////////////////////////////////CONTACT US PAGE///////////////////////////////////////////////// */

.contact {
    height: 1000px;
    width: 100%;
    padding: 100px 0px 50px;
}
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background: linear-gradient(to bottom,  #09e9c7 0%, #4441d6 100%);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background: linear-gradient(to bottom, #4441d6 0%,#09e9c7 100%);
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}